body {
    background-color: darkslateblue;
    color: white;
}

.button {
    height: 25px;
    width: 200px;
    margin: 5px auto;
    border-left: 100px;
}

.button-one {
    background-color: rgb(0, 255, 195);
    height: 20px;
    width: 150px;
    margin: 16px;
    padding: 30;
}

.button-two {
    background-color: rgb(232, 35, 35);
    height: 20px;
    width: 150px;
    margin: 16px;
    padding: 30px;
}
.button-three {
    background-color: rgb(220, 25, 207);
    height: 20px;
    width: 150px;
    margin: 16px;
    padding: 30px;
}